.png1{
    width: 200px;
    height: 200px;
}
.text1{
    color: lightslategrey;
}
.text2{
    color: grey;
}
.text4{
    color: #cf9d9d;
}
.Telegram{
    color: darkcyan;
}
.Facebook{
    color: blue;
}
.Twitter{
    color: dodgerblue;
}
.link{
    color: cornflowerblue;
}
